body {
    background-color: #0F0745;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1, h2 {
    margin: 0;
    color: white;
    font-size: 5vw; /* Utiliza unidades relativas para el tamaño de fuente */
    text-align: center;
    font-family: Arial, sans-serif;
    font-style: italic;
    padding: 2% 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los botones verticalmente */
}

a {
    width: auto; /* Permite que el ancho se ajuste automáticamente al contenido */
    min-width: 200px; /* Establece un ancho mínimo para evitar que sea demasiado estrecho */
    height: 6vh;
    border: 1px solid white;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    font-size: 4vw;
    color: white;
    background-color: #0F0745;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    padding: 3% 0;
}



a:hover {
    background-color: white;
    color: #0F0745;
    border-color: #0F0745;
    transition: .5s;
}


img {
    width: 50%;
    max-width: 100%; /* Evita que la imagen se desborde en pantallas pequeñas */
}

.contenedor, label, p {
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw; /* Utiliza unidades relativas para el tamaño de fuente */
    font-weight: bold;
    color: white;
}
