body {
	background-color: #0F0745;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
	margin: 0;
	color: white;
	font-size: 45px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-style: italic;
	padding-top: 2%;
	padding-bottom: 4%;
}

h2 {
	margin: 0;
	color: white;
	font-size: 35px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-style: italic;
	padding-bottom: 5%;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center; /* Agrega esto para centrar los enlaces horizontalmente */
	flex-wrap: wrap; /* Permite que los enlaces se envuelvan a una nueva línea cuando no haya suficiente espacio en la pantalla */
}

a {
	flex: 1; /* Distribuye el espacio disponible de manera uniforme entre los enlaces */
	max-width: 200px; /* Establece un ancho máximo para los enlaces para que no se vuelvan demasiado anchos en pantallas grandes */
	height: 60px;
	border: 1px solid white;
	border-radius: 30px;
	font-family: Arial, sans-serif;
	font-size: 30px;
	color: white;
	background-color: #0F0745;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	margin: 10px; /* Espaciado en todos los lados de los enlaces */
	padding: 10px; /* Espaciado interno para hacer que los enlaces sean más grandes y fáciles de tocar en dispositivos móviles */
}


a:hover{
    background-color: white;
	color: #0F0745;
    border-color: #0F0745;
    transition: .5s;
}

img{
    width: 50%;
}

.contenedor {
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

@media (max-width: 768px) {
	a {
	  max-width: 100%; /* En pantallas pequeñas, los enlaces ocuparán el 100% del ancho disponible */
	}
  }
